body { 
    font-family: sans-serif; max-width: 400px; margin: 40px auto; 
}

#taskInput {
    width: 200px;
    height: 50px;
}
    
    
li { 
    font-size: 20px;
    list-style: none; 
    padding: 8px; 
    border-bottom: 1px solid #ddd; 
    display: flex; 
    /* justify-content: space-between;  */
    align-items: center;
}
    
button { 
    margin-left: 10px; 
}

.completed {
    text-decoration: line-through;
    color: gray;
}

@media (max-width: 600px){
    body {
        max-width: 100%;
        padding: 0 12px;
    }

    li {
        font-size: 20px;
    }

    button {
        height: 50px;
        font-size: 18px;
        padding: 0 13px;
    }

    #taskInput,
    input {
        font-size: 16px !important;
    }
}